header{
 
}

/* barra verde */

.barra_usuario {
    background-color: #8dc640;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.perfil{
    margin-left: 7px;
}

.nav{
    display: flex;
    gap: 2em;
    margin-right: 7px;
}

/* logo + menu */

.container{
    
}

.branding {
   
    
}

.branding .links{
    
}