@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
}

header a{
    color: #fff;
}

.container{
    width: 1200px;
    margin: auto;
   
}

/* barra verde */

.barra_usuario {
    background-color:#8dc640 ;
    color: #fff;
    display: flex;
    text-transform: uppercase;
}

.barra_usuario .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.barra_usuario .perfil{
    font-size: 20px;
}

.barra_usuario ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.barra_usuario ul a{
    padding: 5px 10px;
    text-decoration: none;
    border:  0 solid #ffffff88 ;
    border-right-width: 1px;
    display: flex;
    align-items: center;
}

.barra_usuario ul li:first-child a {
    border-left-width: 1px;
}

.icon-home{
    display: inline-block;
    width: 9px;
    height: 11px;
    background-image: url("/img/home.jpg");
    margin-right: 10px;
}

.icon-arrow_bottom{
    display: inline-block;
    width: 11px;
    height: 6px;
    background-image: url("/img/arrow-bottom.jpg");
    margin-left: 4px;
}

.barra_usuario img.avatar{
    width: 25px;
    height: 25px;
    margin-right: 5px;
    margin-top: -2.50px;
    margin-bottom: -2.5px;
}

/* Title + nav */

.container .branding{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 30px;
}

.branding .logo{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
}

.branding .logo_img{
    display: block;
}

.branding .logo .text{
    margin: 0;
    margin-left: 10px;
}

.branding .logo .text h1{
    font-size: 31px;
    margin: 0;
    font-weight:600;
    line-height: 31px;
}

.branding .logo .text h1 strong{
    font-weight: 900;
}

.branding .logo .text p{
    font-size: 10px;
    margin: 0;
    font-weight: 600;
    line-height: 10px;
}

.branding .links{
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    list-style: none;
}

.branding .links .twitter{
    display: flex;
    width: 25px;
    height: 25px;
    background-image: url("/img/twitter.jpg");
}

.branding .links .facebook{
    display: flex;
    width: 25px;
    height: 25px;
    background-image: url("/img/facebook.jpg");
    margin-left: 7px;
    margin-right: 7px;
   
}

.branding .links .youtube{
    display: flex;
    width: 25px;
    height: 25px;
    background-image: url("/img/youtube.jpg");
    margin-right: 10px;
}

.branding .links .frm-search{
    position: relative;
    padding-right: 12.5px;
}

.branding .links .frm-search input{
    display: block;
    width: 150px;
    height: 25px;
    border-radius: 2px;
    border: 1px solid #d9dadc;
    padding-right: 17.5px;
    box-sizing: border-box;
}

.branding .links .frm-search::after{
    display: block;
    content:"";
    width: 25px;
    height: 25px;
    background-image: url("/img/arrow-right.jpg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 100%;
}

/* container + menu */

.container .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dc2225;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 5px;
    height: 39px;
}
.container .menu a{
    text-decoration: none;
    border: 0 solid #ffffff88;
    border-right-width: 1px;
    
}

.icon-arrow_bottom-menu{
    display: inline-block;
    width: 11px;
    height: 6px;
    background-image: url("/img/arrrow-bottom-menu.jpg");
    margin-left: 4px;
    margin-right: 4px;
}


/*container-breadcrum*/

.container .breadcrum{
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 21px;
    margin-bottom: 21px;
    padding-left: 12px;
    text-transform: uppercase;
}

/* section noticia */

.container main {

}
main{
   
    margin: 0;
    padding: 0;
}


main .forum {
    
}

main .forum .forum_text {
    background-color: #b2b4b6;
    font-weight:700;
    padding-left: 21px;
    margin: 0;
}

main .forum .forum_text h4{
    font-weight:900;
    font-size: 20px;
    text-transform: uppercase;
    
}

main .forum .forum_text p{
    font-weight:300;
}

main .article_container{
  
}

main .article_container h4{
    font-weight:900;
    text-transform: uppercase;
}

main .article_container p{
    font-weight:300;
}

main .article_container a{
    font-weight:600;
    text-decoration:none;
}


/*aside*/

main aside {
    
}

/*footer*/

footer{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}



footer .visual ul {
    display: flex;
}

footer .photo ul{
    display: flex;
}

footer .footer3 ul{
    display: flex;
}

footer ul{
    list-style: none;
}


/*banner final*/

.banner_final{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #939598;
    height: 31px;
    text-transform: uppercase;
    
    margin: 20px 0 0 0;
    
}
.banner_final .ultimate{
    margin: 0;
    padding: 0;
}

.banner_final .ultimate ul{
    list-style: none;
    display: flex;
    padding: 0 20px;
    margin: 0;
}

.banner_final .ultimate ul li{
    border:  0 solid #ffffff88 ;
    border-right-width: 1px;
    align-items: center;
    padding: 5px 10px;
    color: #fff;    
}

