header a{
    color: #fff;
 
}

/* barra verde */

.barra_usuario {
    background-color: #8dc640;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #fff;
    height: 38px;
}

.perfil{
    margin: 0 30px 0;
}

.log{
    display: flex;
}

.logo h1{
    margin-left: 15px;
    font-weight:lighter;
}

.logo h1 span{
    font-weight:bold;
    position: relative;
}

.logo p{
    display: flex;
    align-items: flex-end;
}
.web{
    display: flex;
    gap: 2em;
    margin: 0 30px 0;
    list-style: none;
}

/* logo + menu */

.container1 nav{
    
    background-color: #eb2528;
    font-size: 25px;
    margin: 0 30px 0;
    border-radius: 5px;
    height: 38px;
    
}

.branding {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    margin: 0 30px 0;
    align-items: center;
    flex-direction: row;
    padding: 25px 0 25px;
}

.logo{
    display: flex;

}

.links{
    display: flex;
    gap: 2em;
    list-style: none;
    flex-direction: row;
}



.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: unset;
    margin: 0 15px 0;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

/* header container list*/

.breadcrum{
    display: flex;
    list-style: none;
    padding: inherit;
}

/* container main*/

.container{
    padding: 0 45px 0;
}

.forum{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: stretch;
    
}

.forum_text{
    background-color: #b2b4b6;
}